$breakpoints: (
    'palm' '(max-width: 480px)',
    'tablet' '(min-width: 481px)',
    'portable' '(min-width: 660px)',
    'desk' '(min-width: 960px)'
);

$article-margin-top: 80px;
$article-sub-nav-margin-top: 140px;
$nav-height: 40px;
$gutter: 40px;