.section {
	margin-bottom: 20px;
}

.page__left-text,
.page__right-text {
	p {
		margin-top: 0;

		@include respond-to(palm) {
			text-align: left !important;
		}
	}
	@include respond-to(palm) {
		text-align: left !important;
	}
}