.ImageLinkSection {
	text-align: center;

	a {
		text-decoration: none;
	}

	@include respond-to(palm) {
		margin-bottom: 100px;
	}
}

.ImageLinkSection__image-wrp {
	display: block;
	position: relative;

	&:hover {
		.ImageLinkSection__overlay {
			opacity: 1;
		}
	}
}

.ImageLinkSection__image {
	background-position: center;
	background-size: cover;
	display: block;
	width: 100%;
}

.ImageLinkSection__overlay {
	background: none;
	color: #555555;
	padding-top: 5px;

	&:hover {
		color: #F71425;
	}
}

.ImageLinkSection__title,
.ImageLinkSection__subtitle {
	line-height: 1.4em;
}

.ImageLinkSection__title {
	display: block;
	font-size: 24px;

	@include respond-to (palm) {
		font-size: 18px;
	}
}

.ImageLinkSection__subtitle {
	display: block;
	font-size: 16px;

	@include respond-to (palm) {
		font-size: 12px;
	}
}
