.ImageLinkSection {
	text-align: center;

	a {
		text-decoration: none;
	}

	@include respond-to(palm) {
		margin-bottom: 100px;
	}
}

.ImageLinkSection__image-wrp {
	display: block;
	position: relative;

	&:hover {
		.ImageLinkSection__overlay {
			opacity: 1;
		}
	}
}

.ImageLinkSection__image {
	background-position: center;
	background-size: cover;
	display: block;
	width: 100%;
}

.ImageLinkSection__overlay {
	background-color: rgba(247, 20, 37, 0.75);
	bottom: 0;
	color: #FFF;
	left: 0;
	opacity: 0;
	padding: 0 10px;
	position: absolute;
	right: 0;
	top: 0;
	transition: opacity 0.2s ease-in;
	z-index: 5;

	@include respond-to (palm) {
		background: none;
		bottom: auto;
		color: #555555;
		padding-top: 5px;
		opacity: 1;
		text-shadow: none;
		top: 100%;
	}
}

.ImageLinkSection__title,
.ImageLinkSection__subtitle {
	line-height: 1.4em;
}

.ImageLinkSection__title {
	display: block;
	font-size: 24px;

	@include respond-to (palm) {
		font-size: 18px;
	}
}

.ImageLinkSection__subtitle {
	display: block;
	font-size: 16px;

	@include respond-to (palm) {
		font-size: 12px;
	}
}
