.ImageSection {
	text-align: center;

	img {
		display: block;
		margin: 0 auto;
	}
}
.ImageSection__title {
	color: #888;
	font-size: 16px;
	font-weight: 300;
	margin: 10px 0;
}
.ImageSection__image-wrapper {
	position: relative;

	> img {
		display: block;
	}
}
.ImageSection__overlay {
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 10;
}