Django==1.7
Jinja2==2.7.2
Markdown==2.4
MarkupSafe==0.19
Pillow==2.3.1
coverage==3.7.1
django-crispy-forms==1.4.0
django-debug-toolbar==1.0.1
django-localeurl==2.0.1
django-modeltranslation==0.8
django-reversion==1.8.5
django-tinymce==1.5.3
glue==0.3
gunicorn==18.0
ipdb==0.8
ipython==1.2.1
psycopg2==2.5.2
readline==6.2.4.1
sqlparse==0.1.11
wsgiref==0.1.2
