html {
	font-size: 100%;
	margin: 0;
	padding: 0 20px;
}

* {
	box-sizing: border-box;
}

body {
	background-color: $background-color;
	color: $font-color;
	font-family: "ChaparralPro", sans-serif;
	font-size: 18px;

	&.overflow-hidden {
		height: 100%;
		overflow: hidden;
	}

	@include respond-to(portable) {
		margin: 20px 0;
	}
}
img {
	max-width: 100%;
}

.link-back {
	color: desaturate($link-color, 50%);
	display: block;
	margin: -40px 0 80px;
	text-align: center;

	@include respond-to(palm) {
		color: $link-color;
	}

	&:hover {
		color: $link-color;
	}

	@include respond-to(portable) {
		margin: 20px 0;
	}
}

.ImageLinkSection a {
	color: $font-color;
}

.page {
	@include respond-to(portable) {
		padding: 0 !important;
	}
}

.browsehappy {
	background: #FF8;
	padding: 5px 10px;
}