html {
	font-size: 100%;
	margin: 0;
	padding: 0 20px;
}

* {
	box-sizing: border-box;
}

body {
	background-color: $background-color;
	color: $font-color;
	font-family: "Edmondsans", sans-serif;
	font-size: 16px;

	&.overflow-hidden {
		height: 100%;
		overflow: hidden;
	}

	@include respond-to(portable) {
		margin: 20px 0;
	}
}

h1,
h2,
h3,
h4 {
	font-weight: 700;
}

img {
	max-width: 100%;
}

a {
	color: $link-color;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

p {
	line-height: 1.4em;
	margin: 14px 0;
}

.sprite {
	display: inline-block;
}

.link-back-wrp {
	display: block;
	margin: 20px 0 40px;
	text-align: center;

	@include respond-to(portable) {
		margin: 20px 0;
		text-align: left;
	}
}

.go-back {
	height: 50px;
	left: 20px;
	position: absolute;
	top: 20px;
	width: 50px;

	@include respond-to(palm) {
		top: 105px;
	}
}

.go-up {
	display: block;
	margin: 0 auto 40px;
	width: 50px;
}

.ImageLinkSection a {
	color: $font-color;
}

.page {
	@include respond-to(portable) {
		padding: 0 !important;
	}
}

footer {
	text-align: center;
}