html {
	font-size: 100%;
	margin: 0;
	padding: 0 20px;
}

* {
	box-sizing: border-box;
}

body {
	background-color: $background-color;
	color: $font-color;
	font-family: "Droid Sans", sans-serif;
	font-size: 14px;
	line-height: 1.4em;

	&.overflow-hidden {
		height: 100%;
		overflow: hidden;
	}

	@include respond-to(portable) {
		margin: 20px 0;
	}
}

h1,
h2,
h3,
h4 {
	font-weight: 700;
}

img {
	max-width: 100%;
}

a {
	color: $link-color;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

p {
	margin: 14px 0;
}

.error-wrp {
	margin: 40px 0;
	text-align: center;
}

.sprite {
	display: inline-block;
}

.link-back-wrp {
	display: block;
	margin: 20px 0 40px;
	text-align: center;

	@include respond-to(portable) {
		margin: 20px 0;
		text-align: left;
	}
}

.go-back {
	color: #555;
	font-size: 1.2em;
	font-weight: 700;
	left: 20px;
	position: absolute;
	text-transform: uppercase;
	top: 20px;

	@include respond-to(palm) {
		top: 85px;
	}

	&:hover {
		color: $link-color;
		text-decoration: none;
	}
}

.go-up {
	display: block;
	margin: 0 auto 40px;
	width: 50px;
}

.ImageLinkSection a {
	color: $font-color;
}

.page {
	margin: 0 auto;
	max-width: 1200px;

	@include respond-to(portable) {
		padding: 0 !important;
	}
}

.social-links {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;

	li {
		display: inline-block;
		padding: 0 15px;
		vertical-align: middle;
	}

	a {
		display: block;
	}

	@include respond-to(palm) {
		display: block;
		margin: 50px 0;
		text-align: center;
	}
}
