footer {
	font-size: 12px;
	margin: 40px 0 0;
	text-align: center;
}

.share-wrp {
	text-align: center;
}

.share {
	display: inline-block;
	margin: 0 0 80px;
	position: relative;

	@include respond-to(palm) {
		margin: 20px 0 50px;
		text-align: center;
	}
}

.share-opener {
	color: #555;
	font-size: 1.2em;
	font-weight: 700;
	text-transform: uppercase;

	&:hover {
		color: $link-color;
		text-decoration: none;
	}
}

.share-list {
	height: 70px;
	left: 0;
	line-height: 1.5em;
	list-style: none;
	margin: 10px 0 0;
	padding: 0;
	position: absolute;
	right: 0;
	top: 100%;
	z-index: 99;

	@include respond-to(palm) {
		left: 50%;
		margin: -35px 0 0 50px;
	}
}

.share-list--hidden {
	display: none;
}
