.header {
	margin: 20px 0 80px;

	@include respond-to(portable) {
		margin: 20px 0 40px;
	}
}
.navigation {
	text-align: center;

	@include respond-to(portable) {
		text-align: left;
	}
	@include respond-to(palm) {
		text-align: center;
	}

	> ul {
		list-style: none;
		margin: 0;
		padding: 0;

		> li {
			display: inline-block;
			padding: 0 15px;
			vertical-align: middle;
		}
	}
	.sprite {
		display: block;
	}
}

.social-links {
	position: absolute;
	right: 10px;
	top: 10px;

	@include respond-to(palm) {
		margin: 20px 0 0 !important;
		position: static;
		text-align: center;
	}

	a {
		display: block;
	}
}

.navigation-link {
	color: $font-color;
	display: block;
	line-height: 2em;
	text-decoration: none;
}

.navigation-link--brand {
	color: desaturate($brand-color, 50%);
	font-weight: 700;

	@include respond-to(palm) {
		color: $brand-color;
	}

	&:hover,
	&.is-active {
		color: $brand-color;
	}
}

.navigation-link--about {
	color: desaturate($about-color, 30%);

	@include respond-to(palm) {
		color: $about-color;
	}

	&:hover,
	&.is-active {
		color: $about-color;
	}
}
