.header {
	margin: 20px 0 40px;

	@include respond-to(portable) {
		margin: 0 0 40px;
	}
	@include respond-to(palm) {
		margin: 20px 0;
	}
}
.navigation {
	text-align: center;

	@include respond-to(portable) {
		padding-left: 70px;
		text-align: left;
	}
	@include respond-to(palm) {
		padding-left: 0;
		text-align: center;
	}

	> ul {
		list-style: none;
		margin: 0;
		padding: 0;

		> li {
			display: inline-block;
			padding: 0 15px;
			vertical-align: middle;
		}
	}
}

.navigation__brand {
	display: block;
	height: 90px;
	margin: 40px 0 20px;
	position: relative;
	text-align: center;

	@include respond-to(portable) {
		height: 54px;
		margin: 0 0 20px;
	}
	@include respond-to(palm) {
		margin: 20px 0 30px;
	}
}

.navigation__logo,
.navigation__logo-mobile {
	left: 50%;
	position: absolute;
	top: 0;
}

.navigation__logo {
	display: none;
	margin-left: -248px;

	@include respond-to(desk) {
		display: block;
	}
}

.navigation__logo-mobile {
	margin-left: -150px;

	@include respond-to(lap) {
		left: 0;
		margin-left: 0;
	}
	@include respond-to(desk) {
		display: none;
	}
}

.social-links {
	position: absolute;
	right: 10px;
	top: 20px;

	@include respond-to(palm) {
		margin: 30px 0 0 !important;
		position: static;
		text-align: center;
	}

	a {
		display: block;
	}
}

.navigation-links {
	@include respond-to(palm) {
		text-align: right;
	}
}

.navigation-link {
	color: $font-color;
	display: block;
	line-height: 2em;
	text-decoration: none;
}

.navigation-link--about {
	color: desaturate($about-color, 30%);

	@include respond-to(palm) {
		color: $about-color;
	}

	&:hover,
	&.is-active {
		color: $about-color;
	}
}

.navigation-link--contact {
	color: desaturate($link-color, 50%);

	@include respond-to(palm) {
		color: $link-color;
	}

	&:hover,
	&.is-active {
		color: $link-color;
	}
}
