.header {
	margin: 20px 0 80px;

	@include respond-to(portable) {
		margin: 20px 0 40px;
	}
}
.navigation {
	text-align: center;
	> ul {
		list-style: none;
		margin: 0;
		padding: 0 0 0 150px;

		@include respond-to(portable) {
			padding: 0;
		}

		> li {
			display: inline-block;
			padding: 0 15px;
			vertical-align: middle;
		}
	}
	.sprite {
		display: inline-block;
	}
}
.navigation-link {
	color: $font-color;
	display: block;
	line-height: 2em;
	text-decoration: none;
}

.navigation-link--brand {
	font-weight: 700;
	&:hover,
	&.is-active {
		color: $brand-color;
	}
}

.navigation-link--about {
	&:hover,
	&.is-active {
		color: $about-color;
	}
}
