/* glue: 0.3 hash: b8a548eff1 */
.sprite-logo2,
.sprite-logo,
.sprite-logo-mobile2,
.sprite-logo-mobile,
.sprite-linkedin,
.sprite-goup,
.sprite-goback,
.sprite-flickr,
.sprite-facebook{background-image:url('../img/sprite.png');background-repeat:no-repeat}
.sprite-logo2{background-position:0px 0px;width:497px;height:90px;}
.sprite-logo{background-position:0px -90px;width:497px;height:76px;}
.sprite-logo-mobile2{background-position:0px -166px;width:297px;height:54px;}
.sprite-logo-mobile{background-position:0px -220px;width:297px;height:45px;}
.sprite-linkedin:hover{background-position:-297px -166px;width:50px;height:50px;}
.sprite-linkedin{background-position:-347px -166px;width:50px;height:50px;}
.sprite-goup:hover{background-position:-397px -166px;width:50px;height:50px;}
.sprite-goup{background-position:-447px -166px;width:50px;height:50px;}
.sprite-goback:hover{background-position:0px -265px;width:50px;height:50px;}
.sprite-goback{background-position:-50px -265px;width:50px;height:50px;}
.sprite-flickr:hover{background-position:-100px -265px;width:50px;height:50px;}
.sprite-flickr{background-position:-150px -265px;width:50px;height:50px;}
.sprite-facebook:hover{background-position:-200px -265px;width:50px;height:50px;}
.sprite-facebook{background-position:-250px -265px;width:50px;height:50px;}
@media only screen and (-webkit-min-device-pixel-ratio: 2.0), only screen and (min--moz-device-pixel-ratio: 2.0), only screen and (-o-min-device-pixel-ratio: 200/100), only screen and (min-device-pixel-ratio: 2.0) {.sprite-logo2,
.sprite-logo,
.sprite-logo-mobile2,
.sprite-logo-mobile,
.sprite-linkedin,
.sprite-goup,
.sprite-goback,
.sprite-flickr,
.sprite-facebook{background-image:url('../img/sprite@2x.png');-webkit-background-size: 497px 314px;-moz-background-size: 497px 314px;background-size: 497px 314px;}}
