{% extends "cms/base.html" %}

{% block content %}
	<h1>Login</h1>
	<form class="form" method="post">{% csrf_token %}
		<fieldset class="well">
			{{ form.non_field_errors }}
			<div class="form-group">
				<label for="id_username" class="control-label requiredField">Username<span class="asteriskField">*</span></label>
				<input id="id_username" class="form-control" maxlength="254" name="username" type="text">
				{{ form.username.errors }}
			</div>
			<div class="form-group">
				<label for="id_password" class="control-label requiredField">Password<span class="asteriskField">*</span></label>
				<input id="id_password" class="form-control" name="password" type="password">
				{{ form.password.errors }}
			</div>
			<button class="btn btn-primary" type="submit">Sign in</button>
		</fieldset>
	</form>
{% endblock content %}