{% extends "cms/base.html" %}

{% block ng_app %}ng-app="fuzzingCMS"{% endblock ng_app %}

{% block content %}
<div ng-controller="PageListCtrl">

    <div modal open="modalOpen" url="previewUrl"></div>

    <div class="row">
        <div class="col-md-6">
            <h1>Page: {{ page.title }}</h1>
            <a class="btn btn-sm btn-default" href="{% url 'page_list' %}">Back to pages</a>
        </div>
    </div>

    <div ng-hide="isExcludedByFilter('{{ page.title }}')">
        <div class="page well">
            <div class="pull-right">
            {% if page.is_home_page %}
                <span class="label label-info">Homepage</span>
            {% endif %}
            {% if page.in_navigation %}
                <span class="label label-primary">In navigation</span>
            {% endif %}
            </div>
            <h2 class="page__title">{{ page.weight }} - {{ page.title }}</h2>
            <div class="page__weight">
                <strong>Page weight: </strong>{{ page.weight }}
            </div>
            <div class="page__offset">
                <strong>Page side offset: </strong>{{ page.side_offset }}
            </div>
            <div class="page__actions button-holder">
                <div class="button-holder">
                    <a href="{% url 'update_page' page.pk %}" class="btn btn-default"><span class="glyphicon glyphicon-edit"></span> Edit page</a>
                    <a href="{% url 'delete_page' page.pk %}" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span> Delete page</a>
                </div>
                <hr/>
                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-primary">Add section</button>
                    <button type="button" class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        {% for section in section_list %}
                        <li><a href="{% url 'create_section' page.pk section %}">{{ section }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                <button ng-click="openModal('{% url 'page' page.slug %}')" type="button" class="btn btn-sm btn-info">Preview</button>
                <hr/>
            </div>
            <div class="page__sections">
                <strong>Page sections:</strong>
                <div class="row">
                {% with page.get_sections_cms as sections %}
                {% for section in sections %}
                {% if section.layout %}
                    <div class="section section-border {{ section.layout_cms }} {{ section.offset_cms }}">
                        <span class="section__class">{{ section.weight }} - {{ section.get_class }}</span>
                        <span class="section__layout"><strong>Section layout:</strong> {{ section.layout }}</span>
                        <div class="section__section">{{ section.preview|safe }}</div>
                        <div class="section__actions">
                            <div class="btn-group">
                                <a class="btn btn-sm btn-default" href="{% url 'update_section' section.pk section.get_class %}">
                                    <span class="glyphicon glyphicon-edit"></span> Edit
                                </a>
                                <a class="btn btn-sm btn-default" href="{% url 'delete_section' section.pk section.get_class %}">
                                    <span class="glyphicon glyphicon-trash"></span> Delete
                                </a>
                                <a class="btn btn-sm btn-default" href="{% url 'set_section_weight' section.pk section.get_class -1 %}">
                                    <span class="glyphicon glyphicon-arrow-up"></span> Move up
                                </a>
                                <a class="btn btn-sm btn-default" href="{% url 'set_section_weight' section.pk section.get_class 1 %}">
                                    <span class="glyphicon glyphicon-arrow-down"></span> Move down
                                </a>
                            </div>
                        </div>
                    </div>
                {% else %}
                </div>
                <div class="section-border row">
                    <div class="col-lg-12">
                        <span class="section__class">{{ section.weight }} - {{ section.get_class }}</span>
                    </div>
                </div>
                <div class="row">
                {% endif %}
                {% endfor %}
                {% endwith %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}