<div class="btn-group">
    <a class="btn btn-sm btn-default" href="{% url 'update_section' section.pk section.get_class %}">
        <span class="glyphicon glyphicon-edit"></span> Edit
    </a>
    <a class="btn btn-sm btn-default" href="{% url 'delete_section' section.pk section.get_class %}">
        <span class="glyphicon glyphicon-trash"></span> Delete
    </a>
    <a class="btn btn-sm btn-default" href="{% url 'set_section_weight' section.pk section.get_class -1 %}">
        <span class="glyphicon glyphicon-arrow-up"></span> Move up
    </a>
    <a class="btn btn-sm btn-default" href="{% url 'set_section_weight' section.pk section.get_class 1 %}">
        <span class="glyphicon glyphicon-arrow-down"></span> Move down
    </a>
</div>