{% load staticfiles %}
<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{{ site_settings.site_name }}</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width">
	<link rel="shortcut icon" href="{% static "img/larevolta/favicon.png" %}">

	<link rel="stylesheet" href="{% static "css/larevolta.css" %}">
</head>
<body>
	<!--[if lt IE 10]>
		<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->

	<header id="header" class="header">
		{% spaceless %}
		<nav class="navigation">
			<a href="/" class="navigation__brand">
				<span class="sprite sprite-logo navigation__logo"></span>
				<span class="sprite sprite-logo-mobile navigation__logo-mobile"></span>
			</a>
			<ul class="navigation-links">
				{% for nav_item in nav_item_list %}
				<li>
					<a class="navigation-link navigation-link--{{ nav_item.slug }} {% ifequal nav_item.slug current_page %}is-active{% endifequal %}"
						href="/{{ nav_item.slug }}/">{{ nav_item.title }}</a>
				</li>
				{% endfor %}
			</ul>
			<ul class="social-links--header">
				{% include "website/larevolta/social-links.html" %}
			</ul>
		</nav>
		{% endspaceless %}
	</header>

	<article id="main" role="main">{% block content %}{% endblock content %}</article>

	<footer class="footer">
		<ul class="social-links--footer">
			{% include "website/larevolta/social-links.html" %}
		</ul>
		<p>© 2014 Sandra Solorzano - sitio web desarrollado por <a href="http://javimanzano.me">Javi Manzano</a></p>
	</footer>

	<script src="{% static "bower_components/jquery/dist/jquery.min.js" %}"></script>

	<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
	<script>
		(function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
		function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
		e=o.createElement(i);r=o.getElementsByTagName(i)[0];
		e.src='//www.google-analytics.com/analytics.js';
		r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
		ga('create','UA-XXXXX-X');ga('send','pageview');
	</script>

	<script src="{% static "js/larevolta/larevolta.js" %}"></script>
</body>
</html>
