{% load static %}
<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{ site_settings.site_name }}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <link rel="stylesheet" href="{% static "css/taller.css" %}">
    </head>
    <body>
        <header id="header" class="header {% if nav_open %}is-open{% endif %}">
            <a {% if current_page %}href="/?nav-open"{% else %}href="#"{% endif %} class="{% if not current_page %}intro-opener{% endif %} header__logo--small">{{ site_settings.site_name }}</a>
            <a {% if current_page %}href="/?nav-open"{% else %}href="#"{% endif %} class="{% if not current_page %}intro-opener{% endif %} header__logo">
                <img class="" src="{% static "img/taller/logo.png" %}" alt="{{ site_settings.site_name }} - Logo">
            </a>
            {% spaceless %}
            <nav class="navigation">
                <ul>
                {% for nav_item in nav_item_list %}
                    <li>
                        <a class="navigation__link nav-opener {% ifequal nav_item.slug current_page %}is-active{% endifequal %}"
                            href="{% url 'page' nav_item.url %}">{{ nav_item.title }}</a>
                    </li>
                {% endfor %}
                </ul>
            </nav>
            {% if sub_nav_item_list %}
            <nav class="sub-navigation">
                <ul>
                {% for nav_item in sub_nav_item_list %}
                    <li>
                        <a class="navigation__link {% ifequal nav_item.slug current_page %}is-active{% endifequal %}"
                           href="{% url 'page' nav_item.url %}">{{ nav_item.title }}</a>
                    </li>
                {% endfor %}
                </ul>
            </nav>
            {% endif %}
            {% endspaceless %}
        </header>

        <article
                id="main"
                class="{% if nav_open %}is-active{% endif %} {% if sub_nav_item_list %}with-sub-nav{% endif %}"
                role="main">
            {% block content %}{% endblock content %}
        </article>

        <footer class="footer"></footer>

        <script src="{% static "bower_components/jquery/dist/jquery.min.js" %}"></script>
        <script src="{% static "bower_components/lodash/dist/lodash.min.js" %}"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>

        <script src="{% static "js/taller/taller.js" %}"></script>
    </body>
</html>
