{% extends "website/taller/base.html" %}

{% block content %}
	{% if page.parent_page %}
		<a href="{{ page.parent_page.get_relative_url }}" class="link-back">Back to {{ page.parent_page }}</a>
	{% endif %}
	<div class="page" style="padding: 0 {{ page.side_offset }};">
		<div class="grid">
		{% spaceless %}
		{% for section in page.get_sections %}
			{% include section.template_name %}
		{% empty %}
			<h1 class="grid__item one-whole">No sections</h1>
		{% endfor %}
		{% endspaceless %}
		</div>
	</div>
{% endblock content %}