$gutter: 40px;

$breakpoints: (
    'palm' '(max-width: 480px)',
    'tablet' '(min-width: 481px)',
    'portable' '(min-width: 660px)',
    'desk' '(min-width: 960px)'
);

$breakpoint-has-widths: ('palm', 'lap', 'tablet', 'portable', 'desk');
$breakpoint-has-push:   ('palm', 'lap', 'tablet', 'portable', 'desk');
$breakpoint-has-pull:   ('palm', 'lap', 'tablet', 'portable', 'desk');