.header {
	left: 20px;
	position: fixed;
	top: 20px;
	width: 200px;

	@include respond-to(portable) {
		margin: 20px 0;
		position: initial;
		width: auto;
	}
}

.navigation {
	transition: top 0.8s ease-in-out;

	> ul {
		list-style: none;
		margin: 0;
		padding: 0;
		@include respond-to(portable) {
			margin: 0 -15px;
		}
		> li {
			@include respond-to(portable) {
				display: inline-block;
				padding: 0 15px;
			}
		}
	}
}
.navigation__link {
	color: #222;
	display: block;
	// font-family: 'Coming Soon', cursive;
	font-size: 16px;
	line-height: 2em;
	text-decoration: none;

	&:hover,
	&.is-active {
		color: #00AA00;
	}

	@include respond-to(palm) {
		font-size: 12px;
	}
}

.navigation__site-brand {
	font-weight: 700;
	&:hover,
	&.is-active {
		color: #222;
	}
}