html {
	font-size: 100%;
	padding: 0 $gutter;
}

* {
	box-sizing: border-box;
}

body {
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	opacity: 0;

	&.overflow-hidden {
		height: 100%;
		overflow: hidden;
	}
	&.is-active {
		opacity: 1;
		transition: opacity $opacity-duration ease-in-out;
	}
}
img {
	max-width: 100%;
}
article[role="main"] {
	@extend %wrapper;
	display: none;
	margin-top: $article-margin-top;

	&.is-active {
		display: block;
	}
	&.with-sub-nav {
		margin-top: $article-sub-nav-margin-top;
	}
}

.section {
	@extend %wrapper;
}

.go-back {
	display: inline-block;
	margin: 0 0 20px;
}
